<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kqkd.dao.BlogMapper">
  <resultMap id="BaseResultMap" type="Blog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="blogger_id" jdbcType="INTEGER" property="bloggerId" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="release_date" jdbcType="TIMESTAMP" property="releaseDate" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="cover" jdbcType="VARCHAR" property="cover" />
    <result column="check_num" jdbcType="INTEGER" property="checkNum" />
    <result column="comment_num" jdbcType="INTEGER" property="commentNum" />
    <result column="like_num" jdbcType="INTEGER" property="likeNum" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="top" jdbcType="INTEGER" property="top" />
    <result column="blog_is" jdbcType="INTEGER" property="blogIs" />
    <association property="blogType" javaType="BlogType" column="type_id"
                 select="com.kqkd.dao.BlogTypeMapper.selectByPrimaryKey"/>
    <association property="blogger" javaType="Blogger" column="blogger_id"
                 select="com.kqkd.dao.BloggerMapper.selectByPrimaryKey"/>
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="Blog">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, blogger_id, type_id, release_date, title, summary, cover, check_num, comment_num, 
    like_num, keywords, top, blog_is
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectKeywords" resultMap="BaseResultMap">
    select keywords from t_blog
  </select>
  <select id="selectByExampleWithBLOBs" parameterType="com.kqkd.pojo.example.BlogExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_blog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.kqkd.pojo.example.BlogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_blog
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_blog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_blog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.kqkd.pojo.Blog" useGeneratedKeys="true">
    insert into t_blog (blogger_id, type_id, release_date, 
      title, summary, cover, 
      check_num, comment_num, like_num, 
      keywords, top, blog_is, 
      content)
    values (#{bloggerId,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, #{releaseDate,jdbcType=TIMESTAMP}, 
      #{title,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, #{cover,jdbcType=VARCHAR}, 
      #{checkNum,jdbcType=INTEGER}, #{commentNum,jdbcType=INTEGER}, #{likeNum,jdbcType=INTEGER}, 
      #{keywords,jdbcType=VARCHAR}, #{top,jdbcType=INTEGER}, #{blogIs,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.kqkd.pojo.Blog" useGeneratedKeys="true">
    insert into t_blog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bloggerId != null">
        blogger_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="releaseDate != null">
        release_date,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="cover != null">
        cover,
      </if>
      <if test="checkNum != null">
        check_num,
      </if>
      <if test="commentNum != null">
        comment_num,
      </if>
      <if test="likeNum != null">
        like_num,
      </if>
      <if test="keywords != null">
        keywords,
      </if>
      <if test="top != null">
        top,
      </if>
      <if test="blogIs != null">
        blog_is,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bloggerId != null">
        #{bloggerId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="releaseDate != null">
        #{releaseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="checkNum != null">
        #{checkNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null">
        #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="likeNum != null">
        #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="keywords != null">
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="top != null">
        #{top,jdbcType=INTEGER},
      </if>
      <if test="blogIs != null">
        #{blogIs,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kqkd.pojo.Blog">
    update t_blog
    <set>
      <if test="bloggerId != null">
        blogger_id = #{bloggerId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="releaseDate != null">
        release_date = #{releaseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="cover != null">
        cover = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="checkNum != null">
        check_num = #{checkNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null">
        comment_num = #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="likeNum != null">
        like_num = #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="keywords != null">
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="top != null">
        top = #{top,jdbcType=INTEGER},
      </if>
      <if test="blogIs != null">
        blog_is = #{blogIs,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.kqkd.pojo.Blog">
    update t_blog
    set blogger_id = #{bloggerId,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      release_date = #{releaseDate,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      check_num = #{checkNum,jdbcType=INTEGER},
      comment_num = #{commentNum,jdbcType=INTEGER},
      like_num = #{likeNum,jdbcType=INTEGER},
      keywords = #{keywords,jdbcType=VARCHAR},
      top = #{top,jdbcType=INTEGER},
      blog_is = #{blogIs,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kqkd.pojo.Blog">
    update t_blog
    set blogger_id = #{bloggerId,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      release_date = #{releaseDate,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      check_num = #{checkNum,jdbcType=INTEGER},
      comment_num = #{commentNum,jdbcType=INTEGER},
      like_num = #{likeNum,jdbcType=INTEGER},
      keywords = #{keywords,jdbcType=VARCHAR},
      top = #{top,jdbcType=INTEGER},
      blog_is = #{blogIs,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>