@charset "gb2312";
@media screen and (min-width: 1024px) and (max-width: 1199px) {
header { width: 100%; margin: auto }
nav { width: 94% }
article { width: 94%; }
#starlist { float: left; margin:0 120px }
.fader { padding-top: 0; height: 360px }
.imginfo { bottom: 15% }
.toppic li i img { height: 170px; }
#gd { width: 230px }
.container { width: 90%; margin: 20px auto; }
}
@media screen and (min-width: 960px) and (max-width: 1023px) {
header { width: 100%; margin: auto }
nav { width: 90%; }
article { width: 90%; }
.fader { padding-top: 0; height: 337px }
.imginfo { bottom: 15% }
.toppic li i img { height: 160px; }
#gd { width: 220px }
.zhuanti p { top: 20% }
.container { width: 90%; margin: 20px auto; }
.share ul li i { }
.timebox li:hover a { padding: 0 30px }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
header { width: 96%; margin: auto }
.logo { width: 100% }
nav { width: 100%; position: relative }
#starlist { display: none; background: rgba(0,0,0,.5); width: 96%; margin-left: 0; }
#starlist li { display: block; padding: 0 0 0 0; width: 60%; background: rgba(255,255,255,1); border-bottom: #f5f5f5 1px solid; }
.sub { display: block; box-shadow: none; padding-left: 0 }
#starlist .sub li { border-bottom: none; }
.menu:after { display: none }
#mnavh { position: absolute; display: block; top: 8px; left: 10px }

.blogsbox { width: 100%; margin: auto; }
main{ width:100%}
article { width: 96%; }
.imginfo { bottom: 17% }
.fader { padding-top: 0; height: 279px }
.toppic li i img { height: 130px; }
.sidebar { display: none }
.imginfo { font-size: 22px }
.news_infos { width: 100% }
.container { width: 90%; margin: 20px auto; }
.shareli { margin: 0 5px; }
.share ul li i { height: 150px }
.share ul li h2 { padding: 15px 5px; }
h1.t_nav span { display: none }
.timebox li { font-size: 15px }
.timebox li span { margin-right: 30px }
.timebox:before { left: 100px; }
.timebox li a:after { left: -26px }
.timebox li:hover a { padding: 0 30px }
.infosbox { width: 100% }
.pagebg { }
}
 @media only screen and (min-width: 480px) and (max-width: 767px) {
header { width: 100%; margin: auto }
.logo { width: 100% }
nav { width: 100%; position: relative }
#starlist { display: none; background: rgba(0,0,0,.5); width: 96%; margin-left: 0; }
#starlist li { display: block; padding: 0 0 0 0; width: 60%; background: rgba(255,255,255,1); border-bottom: #f5f5f5 1px solid; }
.sub { display: block; box-shadow: none; padding-left: 0 }
#starlist .sub li { border-bottom: none; }
.menu:after { display: none }
#mnavh { position: absolute; display: block; top: 8px; left: 10px }
.search_open { width: 400px; }
.search_open.search_bar .input { width: 400px; }
#starlist li:last-child{ padding-bottom:100%} 
#starlist .sub li:last-child{ padding-bottom:0}

.blogsbox, .banner { width: 100%; margin: auto; }
main{ width:100%}
article { width: 96%; }
.toppic { display: none }
.bloginfo { width: 100%; clear: both }
.blogs .blogpic { width: 30%; height: auto }
.fader { padding-top: 50%; width: 100% }
.imginfo { font-size: 20px; bottom: 20%; }
.bloginfo ul li { margin-right: 10px }
.bplist li img { height: 100px }
.bplist li { height: 100px }
.bigpic img { height: auto }
.blogs .blogtext { margin-top: 10px; }
.bplist li:nth-child(2) { margin-left: 3px; }
.sidebar { display: none }
.news_infos { width: 100% }
h1.t_nav span { display: none }
.container { width: 90%; margin: 20px auto; }
.share ul li { width: 50% }
.share ul li i { height: 150px }
.shareli { margin: 0 15px; }
.share ul li h2 { padding: 15px 15px; }
.timebox li { font-size: 15px }
.timebox li span { display: none }
.timebox:before { display: none }
.timebox li:hover a { padding: 0 30px }
.infosbox { width: 100% }
.pagebg {  }
.diggit { float: none; margin-left: auto; }
.dasbox { display: none }
.infosbox .news_con img{width:100%}
}
@media only screen and (max-width: 479px) {
header { width: 100%; margin: auto }
.logo { width: 100% }
nav { width: 100%; position: relative }
#starlist { display: none; background: rgba(0,0,0,.5); width: 96%; margin-left: 0; }
#starlist li { display: block; padding: 0 0 0 0; width: 60%; background: rgba(255,255,255,1); border-bottom: #f5f5f5 1px solid; }
.sub { display: block; box-shadow: none; padding-left: 0 }
#starlist .sub li { border-bottom: none; }
.menu:after { display: none }
#mnavh { position: absolute; display: block; top: 8px; left: 10px }
.search_open { width: 300px; }
.search_open.search_bar .input { width: 300px; }
#starlist li:last-child{ padding-bottom:100%} 
#starlist .sub li:last-child{ padding-bottom:0}	

.blogsbox, .banner { width: 100%; margin: auto; }
main{ width:100%}
article { width: 96%; }
.toppic { display: none }
article { margin: 70px auto 0 }
.imginfo { font-size: 18px; bottom: 22%; }
.bloginfo { width: 100%; clear: both; }
.blogs .blogpic { width: 100%; height: auto; margin-bottom: 10px }
.fader { padding-top: 60%; width: 100% }
.bloginfo ul li { margin-right: 10px }
.bplist li img { height: 100px }
.bplist li { height: 100px }
.bigpic img { height: auto }
.blogs .blogtext { width: 100%; }
.bloginfo ul li { background-image: none }
.bloginfo .author, .bloginfo .lmname { display: none }
.bplist li:nth-child(2) { margin: 0 0 0 2px }
.sidebar { display: none }
.news_infos { width: 100% }
h1.t_nav span { display: none }
.container { width: 90%; margin: 20px auto; }
.share ul li { width: 50% }
.share ul li i { height: 150px }
.shareli { margin: 0 3%; }
.share ul li h2 { padding: 15px 15px; }
footer p { padding: 0 30px }
.timebox li { font-size: 15px }
.timebox li span { display: none }
.timebox:before { display: none }
.timebox li:hover a { padding: 0 30px }
.infosbox { width: 100% }
.pagebg { }
.diggit { float: none; margin-left: auto; }
.dasbox { display: none }
.infosbox .news_con img{width:100%}
.pagebg {}
.pagebg img{     height: 130px;
    width: auto;
    position: relative;
    left: -60%;}
}